{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> E-BLOG - Welcome to my online Space. </title>
    {% endif %}
</head>

<body>
    {% block content %}
    <div class="container-fluid text-center"
        style="background-image: url(https://scx2.b-cdn.net/gfx/news/hires/2018/4-ocean.jpg); height: 480px; background-repeat:no-repeat; background-position: top; background-size: cover; background-attachment: fixed; background-position: center; margin-bottom: 4%; ">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="py-5">
                <h2 class="h2 text-white animated heartBeat"
                    style="font-family: 'Abril Fatface', cursive; font-size: 40px; margin-top: 7.5%; text-shadow: 1px 1px 4px#000;">
                    <i class="E-BLOG fa-newspaper"></i>
                    E-BLOG</h2>
                <div class="text-center quote">
                        <h4>{{ quotes["author"] }}</h4>
                        <p style="font-size: 30px; color: rgb(7, 22, 22);"><em>
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            {{quotes["quote"]}}
                            <i class="fa fa-quote-right" aria-hidden="true"></i>
                        </em></p>

                </div>

            </div>
        </div>
    </div>


    <div class="container all-posts">
        
        {%for post in posts%}
        <div class="card">
            <h1><strong></strong><a href="{{url_for('main.single_post', id = post.id)}}"" class="
                blog_title" >{{post.post_title}}</a></strong></h1>
            <h3 class="blog_content">{{post.post_content | truncate (200) | safe}}</h3>
            <hr>


        </div>
        {%endfor%}
        <div class="text-center">
                <a class="btn btn-outline-success newpost" href="/new_post/"> Write New Blog Post</a>
        </div>
    </div>



    {% endblock%}

</body>

</html>