{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
                <h1 class="blog_title"><strong>{{post.post_title}}</strong></h1>
            <div>
                <button type="button" class="btn-danger btn-sm m-1" data-toggle="modal"
                    data-target="#deleteModal">Delete</button>
            </div>
            <hr>
            <h3 class="blog_content">{{post.post_content}}</h3>

        </div>      
    </div>
    <div class="container">
            <div class="col-md-8">
                {% if comments %}
                {%for comment in comments%}
                <ul>
                    <li>{{comment.comment}}</li>
                </ul>
                {%endfor%}

                {% endif %}
            </div>
    
            <div class="col-md-4">
    
                {{ wtf.quick_form(form) }}
            </div>
    
        </div>

</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are You Sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{url_for('main.delete_post', id = post.id)}}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}